.App {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 1024px;
}

.App-header {
  padding: 20px 0;
  font-size: 44px;
  font-weight: bold;
}

.App-body {
  border: solid 1px white;
  background-color: navy;
  box-shadow: rgba(255, 255, 255) 7px 7px 0 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
