
.Container {
    max-width: 1024px;
    width: 1024px;
    padding: 2rem 0;
    background-color: #008080;
    &.gray {
        background-color: rgb(222, 217, 198);
        color: black;
    }

    &.orange {
        background-color: rgb(239, 127, 87);
        color: white;
    }

    &.transparent {
        background-color: transparent;
    }

}

